# AFTER SETTING THE CORRECT VARIABLES, RENAME THIS FILE TO '.env'

### CREDENTIALS ###
SERVER_HOSTNAME=
USER=
USERID=
GROUPID=
MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=
SSH_PRIV_KEY=

### IMAGES ###
HOMEASSISTANT_IMAGE=ghcr.io/home-assistant/home-assistant:stable
ZIGBEE2MQTT_IMAGE=koenkk/zigbee2mqtt
MOSQUITTO_IMAGE=eclipse-mosquitto:latest
NODERED_IMAGE=nodered/node-red:latest
ESPHOME_IMAGE=esphome/esphome:latest
MARIADB_IMAGE=yobasystems/alpine-mariadb:latest
SAMBA_IMAGE=dperson/samba

### OTHERS ###
ZIGBEE_DONGLE=/dev/ttyUSB0